<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Totalizadores</div>
    <div fxLayout fxLayoutAlign="center center">
    </div>
</div>
<div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute">
        <div class="row">
            <div class="form-group col-md-12">
                <div class="" data-spy="affix" data-offset-top="12">
                    <div class="panel panel-primary">
                        <div class="card text-white bg-success mb-3=12" style="max-width: 18rem;">
                            <div class="card-header">Finalizado</div>
                            <div class="card-body">
                              <p class="card-text">15</p>
                            </div>
                          </div>
                        </div>
                </div>
            </div>
        </div><br><br>
        <div class="row">
            <div class="form-group col-md-12">
                <div class="" data-spy="affix" data-offset-top="12">
                    <div class="card text-white bg-warning mb-12" style="max-width: 18rem;">
                        <div class="card-header">Pendentes</div>
                        <div class="card-body">
                          <p class="card-text">25</p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>